/**
 * --------------------------------------------------------------
 * CSS style aplikasi Absensi2014
 * untuk semua halaman kecuali halaman login
 * --------------------------------------------------------------
 */
body {
	background-image:url(../images/bg.jpg);
	padding: 0;
	margin: 0;
	font-size: 13px;
}
/* =Layout
---------------------------------------------------------------*/
#masthead, #main, #footer{
	clear:both;
	float:left;
	margin:0 10%;
	width:80%;
}

#navigation{
	clear:both;
	float:left;
	width:100%;
}

/* =Layout Masthead
---------------------------------------------------------------*/
#masthead{
	background:url(../images/logo_header2.png) no-repeat;
	height:100px;	
}

#masthead h1{
	display:none;
}

/* =Layout Navigation
---------------------------------------------------------------*/
#menu_tab{
	background:#00CC66 url(../images/nav_border.png) repeat-x bottom left;
	float:left;
	list-style:none;
	margin-top:10px;
	padding:10px 10% 0 10%;
	width:100%;
	
}

#menu_tab li{
	float:left;
	margin-left:3px;
	font-weight:bold;
	font-family:Lucida Sans;
	text-align:center;
	font-size:15px;
	
	
}

#menu_tab a{
	background:#093 url(../images/bg_btn.png) repeat-x top left;
	width:100px;
	height:40px;
	border-bottom:none;
	color:#333;
	display:block;
	float:left;	
	margin:0 1px 0 0;
	padding:4px 8px;	
	text-decoration:none;
}

#menu_tab a:hover, 
body#pasien#tab_pasien a,
body#dokter #tab_dokter a,
body#petugas #tab_petugas a,
body#pembukuan #tab_pembukuan a{
	background: #FCFCFC;
	border-color: #727377;
	color: #333;
	padding-bottom: 5px;		
}
/* =Layout Main
---------------------------------------------------------------*/
#main{
	padding:5px 0;
}

/* =Layout Footer
---------------------------------------------------------------*/
#footer{
	border-top:1px solid #00CC00;
	font-size:smaller;
	font-weight:bold;
	padding-top:5px;
	text-align:left;	
}

/* =Table
---------------------------------------------------------------*/
table{
	font-size:90%;
}

table th{
	text-transform:uppercase;
	font-weight:bold;
	background:#00CC00;
}

table td, table th {
	text-align:left;
	padding:6px 10px;
}

/* memberi jarak antar link edit dan hapus*/
table td a {
    margin-right: 10px;
}

.zebra {
	background:#00CC66;
}

/* =Form
---------------------------------------------------------------*/
form{
	padding:10px;
}

p label{
	display:block;
	float:left;
	margin-right:10px;
	text-align:right;
	width:140px;
}

form p{
	margin-bottom:10px;
}

#submit{
    margin-left:150px;
    font: 70% Arial,Helvetica,sans-serif;
    height: 21px;
}


.form_field{
	border:#666 solid 1px;
}

.form_field:focus{
	background-color:#00CC00;
}

.field_error{
	clear:both;
	color:#F00;
	margin-left:150px;
}

fieldset{
	border:1px solid;
	padding-left:10px;
	margin-bottom:10px;
}

/* =Link
---------------------------------------------------------------*/
#submit,
a.add,
a.edit,
a.delete,
a.cancel,
a.lihat,
a.print {
	font-size: 9pt;
	color:#000000;
	font-weight:bold;
	text-decoration: none;

    border:1px solid #666666;
    padding-right:5px;
    padding-left:20px;
    padding-top: 2px;
    padding-bottom: 2px;

    background-color: #dddddd;
    background-position: 2px center;
    background-repeat: no-repeat;
}

#submit:hover,
a.add:hover,
a.edit:hover,
a.delete:hover,
a.cancel:hover,
a.lihat:hover,
a.print:hover {
	color:#DDDDDD;
    background-color: #666666;
}

#submit{
    background-image:url("../images/icon_save.png");
}
a.add {
    background-image:url("../images/icon_add.png");
}
a.edit {
	background-image:url("../images/icon_edit.png");
}
a.delete {
    background-image:url("../images/icon_delete.png");
}
a.cancel {
    background-image:url("../images/icon_cancel.png");
}
a.lihat {
    background-image:url("../images/icon_lihat.png");
}
a.print {
    background-image:url("../images/icon_print.png");
}

/* =Pagination
---------------------------------------------------------------*/
#pagination{
	margin-bottom:20px;
    margin-top:20px;
    color: #000000;
}

#pagination a
{
	text-decoration:none;
    border:1px solid #FFCB2D;
    background-color:#F9E9A9;
    color:#000000;
    padding:2px 8px;
}

#pagination a:hover
{
    background-color:#FFCB2D;
    border:1px solid #FFCB2D;
}

#pagination strong {
    padding:2px 8px;
    border:1px solid #FFCB2D;
    background-color:#FFCB2D;
    color:#000000;
}

/* =Error404
---------------------------------------------------------------*/
.error_header{
    font-size: 3em;
}

.error_content{
    font-size: 4em;
}

/* =Misc
---------------------------------------------------------------*/
h2{
	border-bottom:1px solid #00CC00;
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:10px;
}

div.pesan{
    color:#900;
    font-weight:bold;
    margin-bottom:10px;
    background-color:#6F6;
    padding:5px;
    border:1px solid #090;
}

div#bottom_link{
    margin:15px 0;
}